asgiref==3.7.2	
asgiref==3.7.2
attrs==23.2.0
Django==4.2.7	
Django==4.2.7
djangorestframework==3.14.0
django-debug-tollbar==4.2.0
drf-yasg==1.21.7
inflection==0.5.1
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
packaging==23.2
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.1
rpds-py==0.17.1
setuptools==68.2.2
sqlparse==0.4.4	
sqlparse==0.4.4
swagger-spec-validator==3.0.3
typing_extensions==4.8.0	
typing_extensions==4.8.0
uritemplate==4.1.1
wheel==0.41.2